<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/user/default">

<head>
<title>MY COURSE</title>
</head>
<body>

	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<div class="container-fluid">
				<ol class="breadcrumb bg-white mb-0 py-2">
					<li class="breadcrumb-item"><a href="#"><i
							class="fa fa-home mr-1"></i> Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">My
						Course</li>
				</ol>
			</div>
		</nav>
		<section class="course-banner">
			<div class="container">
								<h1 class="text-light text-center">My Course</h1>
			
				<div class="banner-content">

				</div>
			</div>
		</section>
				<!-- BEGIN CONTENT -->
		<section class="mt-5">
			<div class="container" style="background: #f7f8fa; border-radius: 10px;">
				<div class="row">
					
					<div class="col-md-3" th:each="item : ${courses}">
					<a th:href="@{/course/detail/{id}(id=${item.id})}" class="my-course-item"> <img width="240" height="140"
						th:src="${item.image}" alt="">
						

						<h6 class="my-course-title" th:text="${item.title}"></h6>
						<div class="my-course-desc" th:text="${item.description}">Java
							Python Android and C# Expert Developer - 467K+ students The
							Complete Guide (incl Hooks, React Router, Redux)</div>

						<div class="my-course-author">
							<h6 >
								<div class="font-weight-bold">
									<small class="text-center"><h5   th:text="${item.author}">LONGGGGG</h5></small>
								</div>
								
								


							</h6>

						</div>
					</a>
				</div>
				</div>
			</div>
		</section>
	</div>

</body>