<body xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/jquery/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/popper.js/js/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
	<!-- modernizr js -->
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/modernizr/js/modernizr.js}"></script>
	<script type="text/javascript"
		th:src="@{/assets/admin/plugins/modernizr/js/css-scrollbars.js}"></script>
	<script th:src="@{/assets/admin/js/pcoded.min.js}"></script>
	<script th:src="@{/assets/admin/js/vartical-layout.min.js}"></script>
	<script
		th:src="@{/assets/admin/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<!-- Custom js -->
	<script type="text/javascript" th:src="@{/assets/admin/js/script.js}"></script>
	<script src="http://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
	<script
		src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>