<head xmlns:th="http://www.thymeleaf.org">
	<link rel="icon" th:href="@{/assets/admin/images/favicon.ico}" type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/plugins/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/plugins/font-awesome/css/font-awesome.min.css}" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/icon/themify-icons/themify-icons.css}" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/icon/icofont/css/icofont.css}" />
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/icon/feather/css/feather.css}" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/admin/css/jquery.mCustomScrollbar.css}" />
</head>