<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/assets/user/lib/bootstrap/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/user/lib/font-awesome/css/font-awesome.min.css}">
<link href="https://fonts.googleapis.com/css?family=Quicksand"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/user/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/user/css/profile.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/plugins/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/icon/themify-icons/themify-icons.css}" />
<link rel="icon" th:href="@{/assets/admin/images/favicon.ico}"
	type="image/x-icon" />
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
	rel="stylesheet" />
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/plugins/bootstrap/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/icon/themify-icons/themify-icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/icon/icofont/css/icofont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/icon/feather/css/feather.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/css/jquery.mCustomScrollbar.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/admin/plugins/font-awesome/css/font-awesome.min.css}" />
