<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin/default">

<head>
<title>ADMIN HOME</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Home page
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<h1 class="text-center">DASHBOARD</h1>
	</div>
</body>
</html>