<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{/assets/registration/images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/css/util.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/registration/css/main.css}">
<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title"
					style="background-image: url(/assets/registration/images/bg-01.jpg);">
					<span class="login100-form-title-1"> Sign In </span>
				</div>

				<form th:object="${login}" class="login100-form validate-form"
					th:action="@{/login}" method="post">
					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Email is required">
						<span class="label-input100">Email</span> <input class="input100"
							th:field="*{email}" type="email" name="email"> <span
							class="focus-input100"></span>
						<p class="text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></p>
					</div>

					<div class="wrap-input100 validate-input m-b-18"
						data-validate="Password is required">
						<span class="label-input100">Password</span> <input
							th:field="*{password}" class="input100" type="password"
							name="password">
						<p class="text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></p>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<p class="text-success" th:text=${message_success}></p>

						<p class="text-danger" th:text=${message}></p>
						<div>
							<a th:href="@{/forgot-password}" class="txt1"> Forgot
								Password? </a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Login</button>
						<a th:href="@{/home}" class="ml-2 login100-form-btn">Back</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script
		th:src="@{/assets/registration/vendor/jquery/jquery-3.2.1.min.js}"></script>

	<!--===============================================================================================-->
	<script
		th:src="@{/assets/registration/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/registration/vendor/bootstrap/js/popper.js}"></script>
	<script
		th:src="@{/assets/registration/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/registration/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script
		th:src="@{/assets/registration/vendor/daterangepicker/moment.min.js}"></script>
	<script
		th:src="@{/assets/registration/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script
		th:src="@{/assets/registration/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/assets/registration/js/main.js}"></script>

</body>

</html>
